<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
RewriteEngine on



RewriteCond %{HTTP_HOST} ^app\.iritaq\.info$
RewriteRule ^/?$ "https\:\/\/app\.iritaq\.info\/index\.html" [R=301,L]

<ifmodule mod_headers.c>
Header always edit Set-Cookie ^(.*)$ $1;SameSite=None;Secure
</ifmodule> 









